.compose-panel {
  
  border-bottom: 1px solid #d9dfe2;
  .compose-btn {
    height: 50px;
  }
}

.compose-dialog {
  height: 100%;
  > .modal-content {
    height: 80%;
    .editor-wrapper {
      position: absolute;
      left: 0;
      right: 0;
      top: 142px;
      bottom: 42px;
      .quill {
        height: 100%;
        .ql-container.ql-snow {
          border: 0;
        }
      }
      
    }
  }

  .message-fields {
    .input-group {


      margin-bottom: 2px;

      .input-group-text {
        min-width: 75px;
        background-color: #f9f9f9;
      }

      .form-control {
        border-left-width: 0;
        &.is-invalid {
          border-color: red;
        }
        &:placeholder-shown {
          font-style: italic;
          font-size: 11px;
        }
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

    }

  }
}

